<app-navbar></app-navbar>
<div class="max-w-xl mx-auto mt-10 p-6 bg-white rounded-xl shadow-md">
    <h2 class="text-2xl font-semibold mb-6">Agendar Consulta</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block mb-1 font-medium">Paciente</label>
            <select formControlName="patientId" class="w-full border rounded px-3 py-2">
                <option value="">Selecione</option>
                <option *ngFor="let patient of patients" [value]="patient.id">
                    {{ patient.fullName }}
                </option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block mb-1 font-medium">Profissional</label>
            <select formControlName="professionalId" (change)="onDateOrProfessionalChange()"
                class="w-full border rounded px-3 py-2">
                <option value="">Selecione</option>
                <option *ngFor="let prof of professionals" [value]="prof.id">
                    {{ prof.fullName }} - {{ prof.specialty }}
                </option>
            </select>
        </div>

        <div class="mb-4">
            <label class="block mb-1 font-medium">Data</label>
            <input type="date" formControlName="date" (change)="onDateOrProfessionalChange()"
                class="w-full border rounded px-3 py-2" />
        </div>
        <div *ngIf="form.get('date')?.value && isWeekend(form.get('date')?.value)" class="text-red-500 text-sm mt-1">
            Agendamentos são permitidos apenas de segunda a sexta-feira.
        </div>


        <div class="mb-4">
            <label class="block mb-1 font-medium">Horário</label>
            <select formControlName="time" class="w-full border rounded px-3 py-2">
                <option value="">Selecione</option>
                <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
            </select>
        </div>

        <button type="submit" [disabled]="form.invalid"
            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            Agendar
        </button>
    </form>
</div>